.formTable{
  width: 30%;
  height: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 5px;
  box-shadow:  0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
}
h3{
  width: 120px;
  margin: 10px auto;
  text-align: center;
}
.el-form{
  width: 90%;
  /* height: 100%; */
}
.el-form-item{
  width: 100%;
  margin: 5% auto;
}
.el-input,
.el-radio-group{
  width: 100%;
}
.el-button{
  width: 100px;
  margin: 0 auto;
}

#btndiv{
  width: 100px;
  margin: 0 auto;
}